<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Your Name - Portfolio</title>
</head>
<body>
    
    <%- include('./partials/header.ejs') %>
    

    <!-- About Me Section -->
    <section id="about">
        <h2>About Me</h2>
        <div class="about-content">
            <p>I am Dolnath Nepal. I am currently enrolled in the Software Engineering Technician Program at Centennial College, and I am in my 3rd semester now. My only prior experience in programming is an internship at Insight Workshop back home, where I developed several apps with the help of fellow colleagues. I love to learn new things and am excited to explore my possibilities in the coding field.</p>
            <a href="/images/SuraZ Resumee.pdf" download class="btn">View Resume</a>
        </div>
        <div class="about-image">
            <img src="/images/photo.jpeg" alt="Your Name" class="small-image">
        </div>
    </section>
    
    

    <%- include('./partials/footer.ejs') %>

</body>
</html>
