<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Your Name - Portfolio</title>
</head>
<body>
    
    <%- include('./partials/header.ejs') %>
    

    <section id="contact">
        <h2>Contact</h2>
        <p>Contact Me</p>
        <form action="#" method="post" id="contactForm">
            <!-- Form fields for First Name, Last Name, Contact Number, Email, Message -->
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>

            <label for="contactNumber">Contact Number:</label>
            <input type="tel" id="contactNumber" name="contactNumber" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <input type="submit" value="Submit" class="btn">
        </form>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>
</html>
