<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Your Name - Portfolio</title>
</head>
<body>
   
    <%- include('./partials/header.ejs') %>

    <section id="home">
        <h1>My Portfolio</h1>
        <p>Empowering the future through innovative code and boundless creativity, I strive to craft digital experiences that transcend expectations. My mission is to weave a tapestry of technological solutions that not only meet the needs of today but anticipate the challenges of tomorrow. With every line of code, I aim to inspire, simplify, and elevate, contributing to a world where technology is an enabler of boundless possibilities.</p>
        <a href="/about" class="btn">Learn More</a>
    </section>

    <%- include('./partials/footer.ejs') %>

    
</body>
</html>
