<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Your Name - Portfolio</title>
</head>
<body>
   
    
    <%- include('./partials/header.ejs') %>
   
    <section id="services">
        <h2>Services</h2>
        <ul>
            <div class="services">
                <img src="/images/services1.jpg" alt="Project 1">
                <p>Navigating the complex landscape of software installation and tech support can be challenging. Our Tech Support & Software Installation service is designed to provide you with hassle-free solutions. We offer expert assistance in the installation and configuration of software applications, ensuring a smooth and error-free setup. Our tech support team is dedicated to resolving any issues you may encounter, providing prompt and efficient solutions. Experience the convenience of seamless software integration and reliable technical support tailored to your needs.</p>
            </div>
            <div class="services">
                <img src="/images/services2.jpg" alt="Project 2">
                <p>Make a powerful online presence with our Web Development for Small Businesses service. We understand that small businesses have unique requirements, and our team specializes in creating tailored web solutions. From engaging landing pages to comprehensive business websites, we offer end-to-end web development services. Our focus is on user-friendly interfaces, mobile responsiveness, and effective branding to help your small business establish a compelling online identity. Elevate your business in the digital realm with our customized web development solutions.</p>
            </div>
            <div class="services">
                <img src="/images/services3.jpg" alt="Project 3">
                <p>Craft your personal brand and showcase your achievements with our Personal Portfolio Website Creation service. We understand the importance of a strong online presence, especially for individuals in various professional fields. Our service includes the design and development of a personalized portfolio website that reflects your unique identity and accomplishments. From elegant design elements to user-friendly navigation, we ensure that your portfolio stands out. Let us help you create a compelling online portfolio that effectively communicates your skills, experiences, and aspirations to the world.</p>
            </div>
        </ul>
    </section>

    <%- include('./partials/footer.ejs') %>

    
</body>
</html>
